/*  your css code here. If applicable */


.container {
    width: 500px;
    padding: 20px;
    border: 2px solid black;
    margin: auto;
}

.red, .green, .yellow {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}